
* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  background-color: rgb(200, 200, 200);
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 3em;
  
}

ul {
  list-style: none;
  padding: 0;
  justify-content: left;
}

ul li {
  display: inline-block;
  position: relative;
}

img{
  width: 100%;
 }

 p {
  max-width: 60ch;
 }

 html{
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

section {
  max-width: 100%;
}
